<?xml version='1.0' encoding='utf-8'?>
<widget id="com.omgrod.gammaglyph" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GAMMAGLYPH</name>
    <description>
        The sequel to OVERSTORY. Fight all your favourite bosses in this "legit" DELTARUNE fighting simulator!
    </description>
    <author email="rod@omgrod.me" href="https://omgrod.me">
        OmgRod
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
